@model PositivaMvc.Models.ViewModels.ColaboradorFormViewModel
@{
    ViewData["Title"] = "Cadastrar Colaborador";
}

<h2>@ViewData["Title"] </h2>

<h4>Colaborador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Colaborador.NomeColaborador" class="control-label">Nome do Colaborador</label>
                <input asp-for="Colaborador.NomeColaborador" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.LoginId" class="control-label">Login</label>
                <select asp-for="Colaborador.LoginId" asp-items="@(new SelectList(Model.Logins,"Id","Usuario"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.EmpresaId" class="control-label">Nome da Empresa</label>
                <select asp-for="Colaborador.EmpresaId" asp-items="@(new SelectList(Model.Empresas,"Id","CadastroEmpresa"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}