@model PositivaMvc.Models.Perfil

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Perfil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome do Perfil
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoPerfil)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Volta para Lista</a>
</div>
