@model PositivaMvc.Models.Empresa

@{
    ViewData["Title"] = "Create";
}

<h2>Criar</h2>

<h4>Cadastro Empresa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CadastroEmpresa" class="control-label">Nome da Empresa</label>
                <input asp-for="CadastroEmpresa" class="form-control" />
                <span asp-validation-for="CadastroEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
